<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
   <title>Projects</title>
   <meta name="format-detection" content="telephone=no">
   <meta name="viewport"
      content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta charset="utf-8">
   <link rel="icon" href="images/favicon.ico" type="image/x-icon">
   <!-- Stylesheets-->
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/plugins/bootstrap.css">

   <link rel="stylesheet" type="text/css" href="/plugins/fonts.css">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="stylesheet" href="/project/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/project/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/project/css/responsive.css">
   <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
    <style>
      .fa {
  display: flex;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: xx-large;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
}
</style>
</head>

<body>
   <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
         <!-- RD Navbar-->
         <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-minimal" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
               data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
               data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
               data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
               data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static"
               data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px"
               data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
               <div class="rd-navbar-main-outer">
                  <div class="rd-navbar-main">
                     <!-- RD Navbar Panel-->
                     <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle"
                           data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span></button>
                        <!-- RD Navbar Brand--><a class="rd-navbar-brand" href="/projects"><img
                              src="/images/LASHKSON LOGO PNG (1).png" alt="" width="199" height="22" /></a>
                     </div>

                     <div class="rd-navbar-nav-wrap" id="rd-navbar-nav-wrap-1">

                        <ul class="rd-navbar-nav">
                           <li class="rd-nav-item "><a class="rd-nav-link" href="/">Home</a>
                           </li>
                           <li class="rd-nav-item "><a class="rd-nav-link" href="/about">About us</a>
                           </li>
                           <li class="rd-nav-item active"><a class="rd-nav-link" href="/projects">Projects</a>
                           </li>
                           <li class="rd-nav-item "><a class="rd-nav-link" href="/contact">Contacts</a>
                           </li>
                        </ul>
                     </div>

                  </div>
               </div>
            </nav>
         </div>
      </header>
      <!-- Breadcrumbs -->

      <!-- Nathan’s Projects-->
      <section class="section section-lg bg-gray-100 text-center">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage" >
                  <span><h2 style="font-family: 'Signika', sans-serif; text-align: center;">Lashkson's Fabrication Projects</h2></span>  
                  </div>
               </div>
            </div>
            <div class="row">
         
               <div class="col-md-12">
                  <div id="proj" class="carousel slide projects_ban" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#proj" data-slide-to="0" class="active"></li>
                        <li data-target="#proj" data-slide-to="1"></li>
                        <li data-target="#proj" data-slide-to="2"></li>
                     </ol>
                  
                        <div class="carousel-inner">

                           <% for(var i=0; i < data.length; i++ ) { %>
                           <div class="carousel-item <% if(i==0){ %>active<% } %>">
                              <div class="container-fluid">
                                 <div class="carousel-caption relative3">
                                    <div class="row">
                                    <% for(var j=0; j < data[i].length; j++ ) { %>
                                       
                                       <div class="col-md-4 col-sm-4 col-xs-4">
                                          <div class="project h-100">
                                            
                                             <div class="project_img h-100">
                                                <figure class="h-100"><img class="h-100" src="/images/upload_fabrication_images/<%=data[i][j].image%>" alt="#"/></figure>
                                             </div>
                                             <div id="pro_ho" class="project_text w-100">
                                                <h3> <%- data[i][j].title; %></h3> `
                                                <p> <%- data[i][j].description;%></p>
                                             </div>
                                          </div>
                                 
                                       </div>
                                       <% } %>
                  
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <a class="carousel-control-prev" href="#proj" role="button" data-slide="prev">
                                 <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                 <span class="sr-only">Previous</span>
                                 </a>
                                 <a class="carousel-control-next" href="#proj" role="button" data-slide="next">
                                 <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                 <span class="sr-only">Next</span>
                                 </a>
                              <% } %>
                           </div>
                         
                  </div>
               </div>
             
            </div>
         </div>
      </section>


      <!-- Page Footer-->
      <footer class="section footer-minimal bg-primary-darken">
         <div class="container">
            <div class="footer-minimal-inner"><a class="brand" href="/"><img src="/images/LASHKSON LOGO PNG (1).png"
                     alt="" width="199" height="22" /></a>
               <!-- Rights-->

               <p class="rights" style="font-family: 'Kanit', sans-serif; text-align: justify;">
                  <span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. LASHKSON </p>
            </div>
         </div>
      </footer>
   </div>
   <a href="//web.whatsapp.com/send?phone=7089999935&text&app_absent=0" target="_blank" class="ui-to-top fa fa-whatsapp active"></a>
   <div class="preloader">

      <div class="preloader-logo">
         <img src="/images/LASHKSON LOGO PNG (1).png" alt="" width="199" height="22" </div>
         <!-- <div class="preloader-body">
      <div id="loadingProgressG">
        <div class="loadingProgressG" id="loadingProgressG_1"></div>
      
      </div>
    </div> -->
      </div>
      <!-- Global Mailform Output-->
      <div class="snackbars" id="form-output-global"></div>
      <!-- Javascript-->
      <script src="js/core.min.js"></script>
      <script src="js/script.js"></script>

  
</body>

</html>