<section class="testimonial text-center">
    <div class="container">

        <div class="heading white-heading" style="font-family: 'Kanit', sans-serif;">
            Testimonial
        </div>
        <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
         
            <div class="carousel-inner" role="listbox">
              <% for(var i=0; i < testimonial_data .length; i++ ) { %>
                <div class="carousel-item  <% if(i==0){ %>active<% } %>">
                    <div class="testimonial4_slide">
                        <img src="/images/upload_testimonial_images/<%=testimonial_data [i].image%>" class="img-circle img-responsive" />
                        <p style="font-family: 'Kanit', sans-serif;"><%= testimonial_data [i].feedback  %> </p>
                        <h4 style="font-family: 'Kanit', sans-serif;"><%= testimonial_data [i].client_name  %></h4>
                    </div>
                  </div>
                  <% } %>
            </div>
            <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>