<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
  <title>Projects</title>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
    content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/plugins/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="/plugins/fonts.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="page">
    <!-- Page Header-->
    <header class="section page-header">
      <!-- RD Navbar-->
      <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-minimal" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
          data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
          data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
          data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
          data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
          data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-main-outer">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span></button>
                <!-- RD Navbar Brand--><a class="rd-navbar-brand" href="/projects"><img
                    src="/images/LASHKSON LOGO PNG (1).png" alt="" width="199" height="22" /></a>
              </div>
              <%- include('../../nav_partials/nav') %>
              
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- Breadcrumbs -->

    <!-- Nathan’s Projects-->
    <section class="section section-lg bg-gray-100 text-center">
      <div class="container">
        <h3  style="font-family: 'Kanit', sans-serif;">Lashkson's Projects</h3>
        <p  style="font-family: 'Kanit', sans-serif;"> Lashkson Construction planning is a fundamental and challenging activity in the management and execution of Industrial projects. It involves the choice of technology, the definition of work tasks, the estimation of the required resources and durations for individual tasks, and the identification of any interactions among the different work tasks. A good constractors plan is the basis for developing the budget and the schedule for work. Developing the constractors plan is a critical task in the management of industries, even if the plan is not written or otherwise formally recorded. In addition to these technical aspects of Industrial planning, </p>
        <div class="isotope offset-top-2 isotope--loaded" data-isotope-layout="masonry" style="position: relative; height: 779.953px;">
          <div class="row row-30">
            <div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer" style="position: absolute; left: 0px; top: 0px;">
                        <!-- Thumbnail Corporate-->
                        <article class="thumbnail-corporate wow slideInDown" style="visibility: visible; animation-name: slideInDown;"><img class="thumbnail-corporate-image" src="/images/upload_painting_images/pexels-tima-miroshnichenko-6474343.jpg" alt="" width="370" height="256">
                          <div class="thumbnail-corporate-caption">
                            <p class="thumbnail-corporate-title"  style="font-family: 'Kanit', sans-serif;">Painting</p>
                            <p  style="font-family: 'Kanit', sans-serif;">PU coats, Bitumen Coats, 1,2,3, Coat Services. </p><a class="thumbnail-corporate-link" href="/paintings"><span class="icon mdi mdi-plus"></span><span class="icon mdi mdi-plus"></span></a>
                          </div>
                          <div class="thumbnail-corporate-dummy"> </div>
                        </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer" style="position: absolute; left: 399px; top: 0px;">
                        <!-- Thumbnail Corporate-->
                        <article class="thumbnail-corporate thumbnail-corporate-lg wow slideInDown" style="visibility: visible; animation-name: slideInDown;"><img class="thumbnail-corporate-image" src="/images/fabrication/pexels-pavel-chernonogov-2381463.jpg" alt="" width="370" height="464">
                          <div class="thumbnail-corporate-caption">
                            <p class="thumbnail-corporate-title"  style="font-family: 'Kanit', sans-serif;">Fabrication</p>
                            <p  style="font-family: 'Kanit', sans-serif;">Fabrication , structure of tank and pipeline.</p><a class="thumbnail-corporate-link" href="/fabrications"><span class="icon mdi mdi-plus"></span><span class="icon mdi mdi-plus"></span></a>
                          </div>
                          <div class="thumbnail-corporate-dummy"> </div>
                        </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer" style="position: absolute; left: 799px; top: 0px;">
                        <!-- Thumbnail Corporate-->
                        <article class="thumbnail-corporate wow slideInUp" style="visibility: visible; animation-name: slideInUp;"><img class="thumbnail-corporate-image" src="/images/upload_demolition_images/pexels-aleksandr-neplokhov-2327065.jpg" alt="" width="370" height="256">
                          <div class="thumbnail-corporate-caption">
                            <p class="thumbnail-corporate-title"  style="font-family: 'Kanit', sans-serif;">Demolition services</p>
                            <p  style="font-family: 'Kanit', sans-serif;">All kind of MS and RCC Structure</p><a class="thumbnail-corporate-link" href="/demolition_services"><span class="icon mdi mdi-plus"></span><span class="icon mdi mdi-plus"></span></a>
                          </div>
                          <div class="thumbnail-corporate-dummy"> </div>
                        </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer" style="position: absolute; left: 0px; top: 285px;">
                        <!-- Thumbnail Corporate-->
                        <article class="thumbnail-corporate thumbnail-corporate-lg wow slideInUp" style="visibility: visible; animation-name: slideInUp;"><img class="thumbnail-corporate-image" src="/images/upload_erection_images/pexels-greengrey-darya-11959368.jpg" alt="" width="370" height="464">
                          <div class="thumbnail-corporate-caption">
                            <p class="thumbnail-corporate-title"  style="font-family: 'Kanit', sans-serif;">Erection</p>
                            <p  style="font-family: 'Kanit', sans-serif;"> All type of pumps, motor, gear Box Erection and fitting.</p><a class="thumbnail-corporate-link" href="/erection"><span class="icon mdi mdi-plus"></span><span class="icon mdi mdi-plus"></span></a>
                          </div>
                          <div class="thumbnail-corporate-dummy"> </div>
                        </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer" style="position: absolute; left: 799px; top: 285px;">
                        <!-- Thumbnail Corporate-->
                        <article class="thumbnail-corporate thumbnail-corporate-lg wow slideInDown" style="visibility: visible; animation-name: slideInDown;"><img class="thumbnail-corporate-image" src="/images/fabrication/pexels-ave-calvar-martinez-4705102.jpg" alt="" width="370" height="464">
                          <div class="thumbnail-corporate-caption">
                            <p class="thumbnail-corporate-title"  style="font-family: 'Kanit', sans-serif;">Hot & Cold Insulation</p>
                            <p  style="font-family: 'Kanit', sans-serif;">Wool, dry air, plastics, and polystyrene foam are all examples of good
                              insulators.</p><a class="thumbnail-corporate-link" href="/insulation"><span class="icon mdi mdi-plus"></span><span class="icon mdi mdi-plus"></span></a>
                          </div>
                          <div class="thumbnail-corporate-dummy"> </div>
                        </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer" style="position: absolute; left: 399px; top: 493px;">
                        <!-- Thumbnail Corporate-->
                        <article class="thumbnail-corporate wow slideInDown" style="visibility: visible; animation-name: slideInDown;"><img class="thumbnail-corporate-image" src="/images/fabrication/pexels-pavel-chernonogov-4025501.jpg" alt="" width="370" height="256">
                          <div class="thumbnail-corporate-caption">
                            <p class="thumbnail-corporate-title"  style="font-family: 'Kanit', sans-serif;">Coating Services</p>
                            <p  style="font-family: 'Kanit', sans-serif;">High Temperature Coating & Aluminium Paints.</p><a class="thumbnail-corporate-link" href="/coating"><span class="icon mdi mdi-plus"></span><span class="icon mdi mdi-plus"></span></a>
                          </div>
                          <div class="thumbnail-corporate-dummy"> </div>
                        </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer" style="position: absolute; left: 799px; top: 285px;">
              <!-- Thumbnail Corporate-->
              <article class="thumbnail-corporate thumbnail-corporate-lg wow slideInDown" style="visibility: visible; animation-name: slideInDown;"><img class="thumbnail-corporate-image" src="/images/fabrication/pexels-ave-calvar-martinez-4705102.jpg" alt="" width="370" height="464">
                <div class="thumbnail-corporate-caption">
                  <p class="thumbnail-corporate-title"  style="font-family: 'Kanit', sans-serif;">FRP Coting Jobs</p>
                  <p  style="font-family: 'Kanit', sans-serif;">All type of tanks & pipeline.</p><a class="thumbnail-corporate-link" href="/frp_jobs"><span class="icon mdi mdi-plus"></span><span class="icon mdi mdi-plus"></span></a>
                </div>
                <div class="thumbnail-corporate-dummy"> </div>
              </article>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer" style="position: absolute; left: 0px; top: 285px;">
    <!-- Thumbnail Corporate-->
    <article class="thumbnail-corporate thumbnail-corporate-lg wow slideInUp" style="visibility: visible; animation-name: slideInUp;"><img class="thumbnail-corporate-image" src="/images/fabrication/pexels-emre-can-acer-2079628.jpg" alt="" width="370" height="464">
      <div class="thumbnail-corporate-caption">
        <p class="thumbnail-corporate-title"  style="font-family: 'Kanit', sans-serif;">Manpower Services</p>
        <p  style="font-family: 'Kanit', sans-serif;"> Weldor/Fitter,Helper,Fourth Man (Unskilled,Semiskilled & Skilled)</p><a class="thumbnail-corporate-link" href="/manpower_services"><span class="icon mdi mdi-plus"></span><span class="icon mdi mdi-plus"></span></a>
      </div>
      <div class="thumbnail-corporate-dummy"> </div>
    </article>
</div>
  
          </div>
        </div>
      </div>
    </section>

  
    <!-- Page Footer-->
    <footer class="section footer-minimal bg-primary-darken">
      <div class="container">
        <div class="footer-minimal-inner"><a class="brand" href="/"><img src="/images/LASHKSON LOGO PNG (1).png" alt="" width="199" height="22"/></a>
          <!-- Rights-->
         
          <p class="rights"  style="font-family: 'Kanit', sans-serif; text-align: justify;" ><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. LASHKSON </p>
        </div>
      </div>
    </footer>
  </div>
  <div class="preloader"> 

    <div class="preloader-logo">
      <img src="/images/LASHKSON LOGO PNG (1).png" alt="" width="199" height="22"
     
    </div>
    <!-- <div class="preloader-body">
      <div id="loadingProgressG">
        <div class="loadingProgressG" id="loadingProgressG_1"></div>
      
      </div>
    </div> -->
  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>
  <!-- Javascript-->
  <script src="js/core.min.js"></script>
  <script src="js/script.js"></script>

  <a href="//web.whatsapp.com/send?phone=7089999935&text&app_absent=0" target="_blank" class="ui-to-top fa fa-whatsapp active"></a>
</body>

</html>