
  <div class="rd-navbar-nav-wrap" id="rd-navbar-nav-wrap-1">
  
    <ul class="rd-navbar-nav">
      <li class="rd-nav-item <% if(active_nav == 'home'){ %>active<% } %>"><a class="rd-nav-link" href="/main">Home</a>
      </li>
      <li class="rd-nav-item <% if(active_nav == 'about'){ %>active<% } %>"><a class="rd-nav-link" href="/about">About us</a>
      </li>
      <li class="rd-nav-item <% if(active_nav == 'projects'){ %>active<% } %>"><a class="rd-nav-link" href="/projects">Projects</a>
      </li>
      <li class="rd-nav-item <% if(active_nav == 'contact'){ %>active<% } %>"><a class="rd-nav-link" href="/contact">Contacts</a>
      </li>
    </ul>
  </div>