<%- include('../../partials/header') %>
<div class="content-wrapper">
  <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <!-- <h1>Employees </h1> -->
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <!-- <li class="breadcrumb-item active">Employees</li> -->
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
<!-- banner image which is on home page -->
<div id="mainform" class="container col-sm-12">
  <div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top: 50px;">
  <div class="panel panel-info">
  <div class="panel-heading">
  <div class="panel-title">Image Upload</div>
  </div>
  <div class="panel-body"><form class="form-horizontal" role="form" action="/bannerImage" enctype="multipart/form-data" method="post">
    <!-- &lt;% if (message.length &gt; 0) { %&gt; -->
  <!-- <div class="alert alert-success col-sm-12">&lt;%= message %&gt;</div> -->
  <!-- &lt;% } %&gt; -->
  <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
  <!-- <div class="form-group"><label class="col-md-3 control-label" for=" title">title</label>
  <div class="col-md-9"><input class="form-control" name="title" type="text" placeholder="Title"></div>
  <div class="form-group"><label class="col-md-3 control-label" for=" fl">First Letter</label>
    <div class="col-md-9"><input class="form-control" name="fl" type="text" placeholder="First Letter"></div>
  </div> -->
  <div class="form-group"><label class="col-md-3 control-label" for="Image">Image</label>
  <div class="col-sm-9"><input class="form-control" accept="" name="uploaded_image" type="file"></div>

  </div>
  
 
  <div class="form-group"><!-- Button -->
  <div class="col-md-offset-3 col-md-9"><button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i> &nbsp;Submit</button></div>
  </div>
  </form></div>
  </div>
  </div>
  </div>
 <!-- Our Mission -->
   <div id="form" class="container col-sm-12">
    <div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top: 50px;">
    <div class="panel panel-info">
    <div class="panel-heading">
    <div class="panel-title">Our Mission </div>
    </div>
    <div class="panel-body"><form class="form-horizontal" role="form" action="/Createmission" enctype="multipart/form-data" method="post">
  
    <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
    <div class="form-group"><label class="col-md-3 control-label" for="experience">Years of Experience</label>
    <div class="col-md-9"><input class="form-control" name="experience" type="text" placeholder="Years of experience"></div>
    <div class="form-group"><label class="col-md-3 control-label" for="Working facilities">Working facilities</label>
      <div class="col-md-9"><input class="form-control" name="work_facilities" type="text" placeholder="Team Members"></div>
      <div class="form-group"><label class="col-md-3 control-label" for="engineers">Qualified Engineers</label>
        <div class="col-md-9"><input class="form-control" name="engineers" type="text" placeholder="years of experience"></div>
        <div class="form-group"><label class="col-md-3 control-label" for=" projects">Running projects</label>
          <div class="col-md-9"><input class="form-control" name="projects" type="text" placeholder="Running projects"></div>
    </div>
    </div>
    
   
    <div class="form-group"><!-- Button -->
    <div class="col-md-offset-3 col-md-9"><button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i> &nbsp;Submit</button></div>
    </div>
    </form></div>
    </div>
    </div>
    </div>


    <!-- projects upload -->
    <div id="mainform" class="container col-sm-12">
      <div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top: 50px;">
      <div class="panel panel-info">
      <div class="panel-heading">
      <div class="panel-title">Image Upload</div>
      </div>
      <div class="panel-body"><form class="form-horizontal" role="form" action="/projects/:id" enctype="multipart/form-data" method="post">
        <!-- &lt;% if (message.length &gt; 0) { %&gt; -->
      <!-- <div class="alert alert-success col-sm-12">&lt;%= message %&gt;</div> -->
      <!-- &lt;% } %&gt; -->
      <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
       <div class="form-group"><label class="col-md-3 control-label" for=" title">title</label>
      <div class="col-md-9"><input class="form-control" name="title" type="text" placeholder="Title"></div>
      <!-- <div class="form-group"><label class="col-md-3 control-label" for=" fl">First Letter</label>
        <div class="col-md-9"><input class="form-control" name="fl" type="text" placeholder="First Letter"></div>
      </div>  -->
      <div class="form-group"><label class="col-md-3 control-label" for="Image">Image</label>
      <div class="col-sm-9"><input class="form-control" accept="" name="upload_image" type="file"></div>
    
      </div>
      
     
      <div class="form-group"><!-- Button -->
      <div class="col-md-offset-3 col-md-9"><button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i> &nbsp;Submit</button></div>
      </div>
      </form></div>
      </div>
      </div>
    </div>
       <!--About-->
       <div id="formm" class="container col-sm-12">
        <div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top: 50px;">
        <div class="panel panel-info">
        <div class="panel-heading">
        <div class="panel-title">About page Images</div>
        </div>
        <div class="panel-body"><form class="form-horizontal" role="form" action="/about" enctype="multipart/form-data" method="post">
          <!-- &lt;% if (message.length &gt; 0) { %&gt; -->
        <!-- <div class="alert alert-success col-sm-12">&lt;%= message %&gt;</div> -->
        <!-- &lt;% } %&gt; -->
        <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
        <div class="form-group"><label class="col-md-3 control-label" for=" title">title</label>
        <div class="col-md-9"><input class="form-control" name="title" type="text" placeholder="Title"></div>
        <div class="form-group"><label class="col-md-3 control-label" for=" Description">Founder</label>
          <div class="col-md-9"><input class="form-control" name="description" type="text" placeholder="Description"></div>
        </div>
   
        <div class="form-group"><label class="col-md-3 control-label" for="Image">Image</label>
        <div class="col-sm-9"><input class="form-control" accept="" name="uploaded" type="file"></div>
      
        </div>
        
       
        <div class="form-group"><!-- Button -->
        <div class="col-md-offset-3 col-md-9"><button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i> &nbsp;Submit</button></div>
        </div>
        </form></div>
        </div>
        </div>
        </div>
           <!--Banner-->
           <div id="mainform" class="container col-sm-12">
            <div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top: 50px;">
            <div class="panel panel-info">
            <div class="panel-heading">
            <div class="panel-title">Image Upload
                
            <div class="panel-body"><form class="form-horizontal" role="form" action="/bannerImage" enctype="multipart/form-data" method="post">
              <!-- &lt;% if (message.length &gt; 0) { %&gt; -->
            <!-- <div class="alert alert-success col-sm-12">&lt;%= message %&gt;</div> -->
            <!-- &lt;% } %&gt; -->
            <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
                   
            </div>
            <div class="form-group"><label class="col-md-3 control-label" for="Image">Image</label>
            <div class="col-sm-9"><input class="form-control" accept="" name="uploaded_image" type="file"></div>
          
            </div>
            
           
            <div class="form-group"><!-- Button -->
            <div class="col-md-offset-3 col-md-9"><button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i> &nbsp;Submit</button></div>
            </div>
            </form></div>
            </div>
            </div>
            </div> 
  <!-- <script>
     var OriginalValue = document.getElementById("name").value;
    let letter = OriginalValue.charAt(text.length-1);
  </script> -->


<%- include('../../partials/footer') %>